<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>タイトル</title>
</head>
<body>
	<form th:action="@{/article/insert}" method="post">
		<div th:errors="${articleForm.name}" style="color:red">エラー投稿者</div>
		投稿者名：<input type="text" name="name"><br>
		<div th:errors="${articleForm.content}" style="color:red">エラー投稿内容</div>
		投稿内容：<textarea rows="5" cols="30" name="content"></textarea><br>
		<button>記事投稿</button>
	</form>
	<hr>
	
	<div th:each="article:${articleList}">
		投稿者名：<span th:text="${article.name}"></span><br>
		投稿内容：<span th:text="${article.content}"></span>
		<form th:action="@{/article/delete}" method="post">
			<input type="hidden" name="id" th:value="${article.id}">
			<button>記事削除</button>
		</form>
		
		<div th:each="comment:${article.commentList}">
			コメント者名：<span th:text="${comment.name}"></span><br>
			コメント内容：<pre th:text="${comment.content}"></pre><br>
		</div>
		
		<form th:action="@{/article/insert-comment}" method="post" th:object="${commentForm}">
			<div th:if="${articleId == article.id}" th:errors="*{name}" style="color:red">エラーコメント者名</div>
			名前：
			<input th:if="${articleId == article.id}" type="text" th:name="name" th:field="*{name}"><br>
			<input th:unless="${articleId == article.id}" type="text" th:name="name"><br>
			
			<div th:if="${articleId == article.id}" th:errors="*{content}" style="color:red">エラーコメント内容</div>
			コメント：<br>
			<textarea rows="5" cols="30" name="content" th:if="${articleId == article.id}" th:field="*{content}"></textarea>
			<textarea rows="5" cols="30" name="content" th:unless="${articleId == article.id}"></textarea>
			
			<input type="hidden" name="articleId" th:value="${article.id}">
			<button>コメント投稿</button>
		</form>
		<hr>
	</div>
</body>
</html>